<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="main-style.css">
    <link rel="stylesheet" href="%style-path%">
    <title>%title%</title>
</head>

<body>
    <div class="bg"></div>
    <header class="main-header">
        <img src="img/good_pizza_great_pizza_logo.webp" alt="logo" class="logo-img">
        <h1>%pizzeria-name%</h1>
    </header>
    <div class="main-container">
        <nav class="sidebar">
            <ul>
                <li><a href="/" class="%home-active%">Home</a></li>
                <li><a href="/shifts" class="%shifts-active%">Turni</a></li>
                <li><a href="/employees" class="%employees-active%">Dipendenti</a></li>
                <li><a href="/logout">Esci</a></li>
            </ul>
        </nav>

        <div class="content">
            %content%
        </div>
    </div>
</body>

</html>