<div class="new-employee" id="new-employee" style="display: none;">
    <div class="new-employee-header">
        <h2>Inserisci i dati del nuovo dipendente</h2>
    </div>
    <form class="new-form">
        <div class="error" id="new-emplyee-error" style="display: none;">
            <p></p>
        </div>
        <label for="name-input">Nome:</label>
        <input type="text" id="name-input" placeholder="Inserici il nome del dipendente">
        <label for="surname-input">Cognome:</label>
        <input type="text" id="surname-input" placeholder="Inserici il cognome del dipendente">
        <label for="birthdate-input">Data di Nascita:</label>
        <input type="date" id="birthdate-input" placeholder="Inserici la data di nascita del dipendente">
        <button type="button" id="load-employee">Aggiungi</button>
    </form>
</div>
<div class="employees-header">
    <div class="employees-title">
        <h2>I tuoi dipendenti</h2>
        <p>Visualizza e gestisci i dipendenti della tua pizzeria.</p>
    </div>
</div>
<div class="employees">
    <div class="add-employee">
        <p>Aggiungi un nuovo dipendente</p>
        <button type="button" id="add-employee"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path
                    d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
            </svg></button>
    </div>
    %employees%
</div>
<script src="employees-main.js"></script>